In [1]:
# If not installed
#!pip install hana-ml

Collecting hana-ml
  Downloading hana_ml-2.5.20062609-py3-none-any.whl (451 kB)
     |████████████████████████████████| 451 kB 10.5 MB/s eta 0:00:01
Collecting pydot
  Downloading pydot-1.4.1-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: numpy>=1.16.4; python_version >= "3.4" in /opt/conda/lib/python3.8/site-packages (from hana-ml) (1.19.1)
Requirement already satisfied: matplotlib; python_version >= "3" in /opt/conda/lib/python3.8/site-packages (from hana-ml) (3.2.2)
Collecting uuid
  Downloading uuid-1.30.tar.gz (5.8 kB)
Collecting hdbcli>=2.4.194
  Downloading hdbcli-2.5.101-cp34-abi3-manylinux1_x86_64.whl (22.5 MB)
     |████████████████████████████████| 22.5 MB 17.8 MB/s eta 0:00:01
Collecting Deprecated
  Downloading Deprecated-1.2.10-py2.py3-none-any.whl (8.7 kB)
Requirement already satisfied: pandas>=0.24.2; python_version >= "3.4" in /opt/conda/lib/python3.8/site-packages (from hana-ml) (1.1.1)
Requirement already satisfied: pyparsing>=2.1.4 in /opt/conda/lib/python3.8/site-packages (from pydot->hana-ml) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib; python_version >= "3"->hana-ml) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.8/site-packages (from matplotlib; python_version >= "3"->hana-ml) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib; python_version >= "3"->hana-ml) (2.8.1)
Collecting wrapt<2,>=1.10
  Downloading wrapt-1.12.1.tar.gz (27 kB)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.8/site-packages (from pandas>=0.24.2; python_version >= "3.4"->hana-ml) (2020.1)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from cycler>=0.10->matplotlib; python_version >= "3"->hana-ml) (1.15.0)
Building wheels for collected packages: uuid, wrapt
  Building wheel for uuid (setup.py) ... done
  Created wheel for uuid: filename=uuid-1.30-py3-none-any.whl size=6500 sha256=e1135f8597fae476f2ec6bec43fade3553be970edf8030fcbf0df704d67e84d3
  Stored in directory: /home/jovyan/.cache/pip/wheels/1b/6c/cb/f9aae2bc97333c3d6e060826c1ee9e44e46306a178e5783505
  Building wheel for wrapt (setup.py) ... done
  Created wheel for wrapt: filename=wrapt-1.12.1-cp38-cp38-linux_x86_64.whl size=81730 sha256=dbae120ec70943745550e36dc9ae4c59793cacfff56ffc58b401ead7915e6f9d
  Stored in directory: /home/jovyan/.cache/pip/wheels/5f/fd/9e/b6cf5890494cb8ef0b5eaff72e5d55a70fb56316007d6dfe73
Successfully built uuid wrapt
Installing collected packages: pydot, uuid, hdbcli, wrapt, Deprecated, hana-ml
Successfully installed Deprecated-1.2.10 hana-ml-2.5.20062609 hdbcli-2.5.101 pydot-1.4.1 uuid-1.30 wrapt-1.12.1

In [1]:
import hana_ml
print(hana_ml.__version__)

2.5.20062609

In [2]:
import hana_ml.dataframe as dataframe

# Instantiate connection object
conn = dataframe.ConnectionContext(address = '<HanaCloud>',
                                    port = 443, 
                                    user = '<USER>',  
                                    password = '<PASSWORD>', 
                                    encrypt = 'true'
                                    ,sslValidateCertificate = 'false'
                                   )

# Alternatively set in  hdbuserstore with a key
# hdbuserstore -i ISVENG_HANA_CLOUD "<HanaCloud>:443" 
# conn = dataframe.ConnectionContext(key = 'ISVENG_HANA_CLOUD', encrypt = 'true',sslValidateCertificate = 'false')

In [3]:
# Send basic SELECT statement and display the result
sql = 'SELECT * FROM DBADMIN.TESTTAB'
df_hana = conn.sql(sql)
df_pandas = df_hana.head(10).collect()
df_pandas

,COLA,COLB,COLC,COLD,COLE,COLF,COLG,COLH,COLI,COLJ,COLK,MEASURE1,MEASURE2,MEASURE3,MEASURE4
0,3490,6633,6578,1296,7121,162,4271,9734,8696,2356,9061,97336.54,34286.29,72750.32,44564.29
1,3609,9672,8937,697,3583,9609,1224,3167,5137,2356,6535,31670.01,53503.21,17670.78,33875.01
2,9297,8451,9824,7729,621,9739,7657,7460,8664,2356,6044,74595.45,83607.70,25257.78,12792.22
3,3051,8485,9131,8965,7536,8605,3881,9927,5881,2356,6541,99272.18,2887.16,15798.12,8218.89
4,7503,9412,9173,6268,6736,8895,9785,8300,2724,2356,2262,82999.28,87556.63,78959.26,64213.04
5,6896,7839,7104,5285,2494,746,7330,2128,565,2356,1728,21277.78,11109.38,96277.28,69925.12
6,5832,4138,9527,8023,998,5385,8780,2291,9208,2356,7708,22909.69,80215.44,99443.92,61707.43
7,6164,7376,3216,9024,3692,6796,2616,8122,3073,2356,1732,81215.90,72190.54,10377.92,36705.54
8,8764,1657,7466,151,3615,2610,3997,3689,8818,2356,7792,36892.55,1911.63,35364.96,74247.44
9,6945,4113,7475,5832,3066,1523,1263,5026,6439,2356,7403,50261.39,37965.04,3505.63,80474.84